# Dependencies
node_modules
bun.lockb

# Build output
dist
*.local

# Environment
.env
.env.local
.env.production.local

# Editor
.vscode/*
!.vscode/settings.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage

# Logs
*.log
npm-debug.log*
